# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.IdentityProject.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\miamu\OneDrive\Documents\GitHub\identity_provider_project_cmunteanu\.idea\.idea.IdentityProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
